@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Julee&family=Love+Ya+Like+A+Sister&family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');


html{
    height: 100vh;
    overflow: hidden;
}
body {
    background-color: white;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
	left: 3.5vw;
    background-size: cover;
    width:100vw;
    height: 100vh;
    background-image: url(lakansultan.jpg);
    z-index: -1;
    position: absolute;
	transform: scale(2);
    transition: 0.3s;
}


input:checked + label + .bg{
    background-image: url(rajahdatu.jpg);
}

input{
    display:none;
}

.switch{
	box-shadow: 0 0.5vh 1.3vh rgba(0, 0, 0, 0.4), 
                0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
    margin-top: 5vh;
    width: 5vw;       
    height: 6vh;        
    background:white;
    border-radius: 5vh;
    position:absolute;
    top:2vh;
    right:2vw;
    cursor:pointer;
    transition:0.3s;
    z-index:10000;
}

.switch::before{
    content:"";
    width: 2vw;
    height: 2vw;
    background: var(--toggle-color, white); 
    position:absolute;
    top: 1vh;
    left: 0.7vw;
    border-radius:50%;
    transition:0.3s;
}

input:checked + .switch{
    background:white;
}

input:checked + .switch::before{
    transform:translateX(35px);
}
nav {
    margin-top: 5vh;
    width: 100vw;
    height: 10vh; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    position: absolute;
    z-index: 9999;
}

nav ul {
    align-content: right;
    width: auto;
    display: flex;
    list-style: none;
    align-items: center;
    flex-shrink: 0;
}

.indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    flex: 1; 
}

nav ul li {
    margin-right: 2vw;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 1vw 0.75vw;
    width: 4vw;   
    height: 8vh; 
    background-color: #fff;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    overflow: hidden; 
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0.5vh 1.3vh rgba(0, 0, 0, 0.4), 
                0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
}

nav ul li:hover {
    width: 10vw;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: green;
    padding: 0;
}

nav ul li a p {
    font-size: 3vh;
    font-family: "Joti One";
    margin-left: 0.5vw;
    opacity: 0;
    font-weight: 700;
    white-space: nowrap;
    transition: opacity 0.4s ease 0.1s;
}

nav ul li.active-nav {
    background-color: #5c0e0a;
}

nav ul li.active-nav a p {
    color: #ffffff;
    opacity: 1;
}

nav ul li:hover a p {
    opacity: 1;
}

.carousel {
    margin-top: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel .list {
    height: 100%;
    position: relative;
}

.carousel .list::before {
    position: absolute;
    width: var(--w-image);
    height: 100%;
    content: "";
    top: 0;
    left: calc(100% - calc(var(--w-image) * var(--calculate)));
    z-index: 10;
    pointer-events: none;
}

.carousel .list::after {
    position: absolute;
    top: 5.5vh;
    left: 5vw;
    content: "";
    width: 40vw;
    height: 35vh;
    z-index: 10;
    pointer-events: none;
    border-radius: 2vw 5vw 11vw 23vw;
    filter: blur(15vw);
    opacity: 0.6;
}

.carousel .list .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
    display: block;
}

.carousel .list .item.active {
    z-index: 2;
}

.carousel .list .item.other_1,
.carousel .list .item.other_2 {
    pointer-events: none;
}

.carousel .list .item .main-content {
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}

.carousel .list .item.active .main-content {
    animation: showContent 1s ease-in-out 1 forwards;
}

@keyframes showContent {
    from { clip-path: circle(0% at 70% 50%); }
    to { clip-path: circle(100% at 70% 50%); }
}

.next .item.other_1 {
    z-index: 1;
}

.arrows {
    z-index: 10;
}

.prev .list .item.other_2 .main-content {
    opacity: 0;
}

.dot {
    width: 10vh;
    height: 10vh;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s ease;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 0.25vh solid transparent;
    margin-right: 1vw; 
	box-shadow: 0 0.5vh 1.3vh rgba(0, 0, 0, 0.4), 
                0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
}

.dot.active-dot {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.3);
    border: 0.25vh solid transparent;
}

@media screen and (max-width: 1023px) {
    :root {
        --calculate: 1;
        --w-image: 40vw;
    }
}

@media screen and (max-width: 767px) {
    .carousel .list .item .main-content .content {
        display: none;
    }
}
footer {
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

.scroller1{
	transform: rotate(25deg);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 93.5vh;      
    right: 15vw;  
    z-index: 100;
    position: absolute;
    width: 100vw;
    background-color: white;
}

.scroller2{
	transform: rotate(25deg);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 99.5vh;      
    right: 15vw;  
    z-index: 100;
    position: absolute;
    width: 100vw;
    background-color: white;
}

.scroller3{
	transform: rotate(25deg);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 105.5vh;      
    right: 15vw;  
    z-index: 100;
    position: absolute;
    width: 100vw;
    background-color: white;
}

.scroller4{
	transform: rotate(-25deg);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 93.5vh;       
    left: 15vw;  
    z-index: 100;
    position: absolute;
    width: 100vw;
    background-color: white;
}

.scroller5{
	transform: rotate(-25deg);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 99.5vh;     
    left: 15vw;  
    z-index: 100;
    position: absolute;
    width: 100vw;
    background-color: white;
}

.scroller6{
	transform: rotate(-25deg);
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 105.5vh;      
    left: 15vw;  
    z-index: 100;
    position: absolute;
    width: 100vw;
    background-color: white;
}
.scroller-item{
    font-family: "Joti One";
    padding: 0 2vw; 
    white-space: nowrap;
    font-size: 2.5vh;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.scroller-inner1{
    display: inline-flex;
    animation: scrollLeft 5s linear infinite;
}

.scroller-inner2{
    display: inline-flex;
    animation: scrollRight 5s linear infinite;
}

.scroller-inner3{
    display: inline-flex;
    animation: scrollLeft 5s linear infinite;
}

.scroller-inner4{
    display: inline-flex;
    animation: scrollLeft 5s linear infinite;
}

.scroller-inner5{
    display: inline-flex;
    animation: scrollRight 5s linear infinite;
}

.scroller-inner6{
    display: inline-flex;
    animation: scrollLeft 5s linear infinite;
}

@keyframes scrollLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes scrollRight {
    from { transform: translateX(-50%); }
    to { transform: translateX(0%); }
}
.about-header{
	border: 0.25vw solid #333333;
	padding: 2.5vw;
	background-color: white;
	position: absolute;
    top: 15vh;
    font-family: "Barrio";
    font-size: 9vh;
    color: #333333;
    text-align: center;
    transition: transform 0.5s ease, letter-spacing 0.5s ease, text-shadow 0.5s ease;
    cursor: default;
    display: inline-block;
    width: 100%;
}
.about-page{
	border: 0.25vw solid #333333;
	padding: 2.5vw;
	background-color: white;
	right: 27.5vw;
	width: 40vw;
	position: absolute;
    top: 40vh;
    display: inline-block;
}
.about-page p{
	    font-family: "Julee", cursive;
    font-size: 4vh;
    color: #333333;
    text-align: center;
    transition: transform 0.5s ease, letter-spacing 0.5s ease, text-shadow 0.5s ease;
    cursor: default;
}