@import url('https://fonts.googleapis.com/css2?family=Joti+One&family=Julee&family=Love+Ya+Like+A+Sister&family=Reggae+One&display=swap');

html{
    height: 100vh;
    overflow: hidden;
}
body {
    background-color: white;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    margin-top: 5vh;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    position: absolute;
    z-index: 9999;
}

nav img {
    width: 25vw;
    height: 25vh;
    object-fit: contain;
    margin-right: auto;
}

nav ul{
    align-content: right;
    width: auto;
    display: flex;
    list-style: none;
    align-items: center; 
}

nav ul li {
    margin-right: 2vw;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 1vw 0.75vw;
    width: 4vw;   
    height: 8vh; 
    background-color: #fff;
    border-radius: 2vw;
    display: flex;
    align-items: center;
    overflow: hidden; 
    transition: all 0.5s ease;
    cursor: pointer;
    box-shadow: 0 0.5vh 1.3vh rgba(0, 0, 0, 0.4), 
                0 0.25vh 0.5vh rgba(0, 0, 0, 0.3);
}

nav ul li:hover {
    width: 10vw;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: green;
    padding: 0;
}

nav ul li a p {
    font-size: 3vh;
    font-family: "Joti One";
    margin-left: 0.5vw;
    opacity: 0;
    font-weight: 700;
    white-space: nowrap;
    transition: opacity 0.4s ease 0.1s;
}
nav ul li.active-nav {
    background-color: #5c0e0a;
}

nav ul li.active-nav a p {
    color: #ffffff;
    opacity: 1;
}
nav ul li:hover a p {
    opacity: 1;
}
:root {
    --calculate: 0.5;
    --w-image: 75vw;
    --h-image: 100vh;      
    --border-color: #ffffff55;
}

.carousel {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.carousel .list {
  height: 100%;
  position: relative;
}
.carousel .list::before {
  position: absolute;
  width: var(--w-image);
  height: 100%;
  content: "";
  top: 0;
  left: calc(100% - calc(var(--w-image) * var(--calculate)));
  z-index: 10;
  pointer-events: none;
}
.carousel .list::after {
  position: absolute;
  top: 5.5vh;
  left: 5vw;
  content: "";
  width: 40vw;
  height: 35vh;
  z-index: 10;
  pointer-events: none;
  border-radius: 2vw 5vw 11vw 23vw;
  filter: blur(15vw);
  opacity: 0.6;
}
.carousel .list .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel .list .item .image {
    width: var(--w-image);
    height: var(--h-image);
    position: absolute;
    top: 2.5vh;            
    left: 40vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}
.carousel .list .item .image img {
    width: 33.5vw;         
    margin-bottom: 5vw;
    filter: drop-shadow(0 2vw 2vw black);
}

.carousel .list .item .main-content {
  height: 100%;
  display: grid;
  grid-template-columns: calc(100% - calc(var(--w-image) * var(--calculate)));
}
.carousel .list .item .main-content .content {
    padding: 20vh 2vw 2vh 8vw;  
}

.carousel .list .item .main-content .content h2 {
    font-size: 6em;      
    font-family: "Reggae One";
}

.carousel .list .item .main-content .content .price {
    font-family: "Love Ya Like A Sister";
    font-size: 2.5em;        
    margin: 1vw 0;        
}

.carousel .list .item .main-content .content .description {
    font-size: 1.25em;     
    line-height: 1.5;
    max-width: 45vw;      
    margin-top: 2vw;
    font-family: "Julee";
}
.carousel .list .item {
  display: none;
}
.carousel .list .item.active,
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
  display: block;
}
.carousel .list .item.active {
  z-index: 2;
}
.carousel .list .item.other_1,
.carousel .list .item.other_2 {
  pointer-events: none;
}
.carousel .list .item.active .main-content {
  animation: showContent 1s ease-in-out 1 forwards;
}
@keyframes showContent {
  from {
    clip-path: circle(0% at 70% 50%);
  }
  to {
    clip-path: circle(100% at 70% 50%);
  }
}
.next .item.other_1 {
  z-index: 1;
}
.next .item .image img,
.next .item .image figcaption {
  animation: effectNext 0.5s ease-in-out 1 forwards;
}
@keyframes effectNext {
  from {
    transform: translateX(calc(var(--transform-from)));
  }
  to {
    transform: translateX(calc(var(--transform-from) - var(--w-image)));
  }
}
.next .item.active .image {
  --transform-from: var(--w-image);
}
.next .item.other_1 .image {
  z-index: 3;
  --transform-from: 0px;
  overflow: hidden;
}
.next .item.other_2 .image {
  z-index: 3;
  --transform-from: calc(var(--w-image) * 2);
}
.arrows {
  z-index: 10;
}
.prev .list .item .image img,
.prev .list .item .image figcaption {
  animation: effectPrev 0.7s ease-in-out 1 forwards;
}
@keyframes effectPrev {
  from {
    transform: translateX(calc(var(--transform-from)));
  }
  to {
    transform: translateX(calc(var(--transform-from) + var(--w-image)));
  }
}
.prev .list .item.active .image {
  --transform-from: calc(var(--w-image) * -1);
  overflow: hidden;
}
.prev .list .item.other_1 .image {
  --transform-from: 0px;
  z-index: 3;
}
.prev .list .item.other_2 .image {
  z-index: 3;
  --transform-from: var(--w-image);
}
.prev .list .item.other_2 .main-content {
  opacity: 0;
}

.indicators {
    position: absolute;
    bottom: 12.5vh;
    left: 7.5vw;
    display: flex;
    align-items: center;
    z-index: 9999;
}

.dot {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.4;
    transition: all 0.3s ease;
    filter: grayscale(100%);
    border-radius: 50%;
    border: 0.25vh solid transparent;
    margin-right: 2vw; 
}

.dot.active-dot {
    opacity: 1;
    filter: grayscale(0%);
    transform: scale(1.3);
    border: 0.25vh solid transparent;
}

@media screen and (max-width: 1023px) {
  :root {
    --calculate: 1;
    --w-image: 40vw;
  }
  .carousel .list .item .main-content .content h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 767px) {
  .carousel .list .item .image {
    width: 100%;
    left: 0;
    justify-content: center;
  }
  .carousel .list .item .image figcaption {
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .carousel .list .item .main-content .content {
    display: none;
  }
}

.scroller{
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 92vh;      
    left: 0;  
    z-index: 99999;
    position: absolute;
    width: 100vw;
    background-color: white;
}
.scroller-item{
    font-family: "Joti One";
    padding: 0 2vw; 
    white-space: nowrap;
    font-size: 2.5vh;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.scroller2{
    box-shadow: 0 0.5vh 2vh rgba(0, 0, 0, 0.3);
    top: 15vh;      
    left: 0;  
    z-index: 99999;
    position: absolute;
    width: 100vw;
    background-color: white;
}
.scroller-inner{
    display: inline-flex;
    animation: scrollLeft 20s linear infinite;
}

.scroller-inner2{
    display: inline-flex;
    animation: scrollRight 20s linear infinite;
}

@keyframes scrollLeft {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes scrollRight {
    from { transform: translateX(-50%); }
    to { transform: translateX(0); }
}